* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
    
}

.cal-container {
    height: 300px;
    width: 200px;
    border-radius: 12px;
    background-color: black;
}

.screen {
    height: 25%;
    width: 100%;
    background-color: black;
    border-radius: 12px;
}

.btn-container {
    
    height: 75%;
    width: 100%;
    background-color: gray;
    border-radius: 12px;
}

.con {
    height: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 25%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    
}

.btn-text {
    color: white;
    cursor:pointer;
    border: 0;
    display: inline-block;
    width: 38px;
    height: 30px;
    background-color: black;
    padding: 8px 0 4px 4px;
    border-radius: 14px;
    transition: padding 0.1s linear;

}

.btn-text:active {
    padding: 12px 0 6px 6px;
}